# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Uncomment the next line if you don't want to version control the `.swiftpm` folder.
# .swiftpm/

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore file,
# but if you do, please make sure to add the `Podfile.lock` file to your
# .gitignore as well.
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Pods directory.
# Pods/**/*.swift
#
# However, please note that for the "Pods/**/*.swift" pattern to work,
# the Pods directory must not be a git submodule.
#
# For advice on whether to check in the Pods directory, see
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the fastlane credentials in git due to security reasons,
# however you can choose to store the fastlane private key in git.
# For more information about what is shared or not, see the following link:
# https://docs.fastlane.tools/actions/match/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a new generated file which can be safely ignored.
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride
